/* FOOTER */

footer {

    min-height: 70vh;

    padding:
        90px
        7vw
        50px;

}

.footer-main h2 {

    font-size: 20vw;

    margin-top: 25px;

}

.footer-bottom {

    display: block;

}

.footer-links {

    display: flex;

    flex-wrap: wrap;

    margin-top: 30px;

    gap: 20px;

}